.el-form-item__label
  color #fff
// 日期选择组件样式
.el-date-range-picker
  width 620px !important
  left 271px !important
// 时间选择器主体样式
.el-picker-panel__body
  margin-left 82px !important
// 时间选择器侧侧边栏样式
.el-picker-panel__sidebar
  width 90px !important
// 小箭头
.popper__arrow
  left 235px !important
  @media screen and (max-width: 1366px)
    &
      left 215px !important
.el-range-separator
  color #fff !important
// select 下拉框样式
.el-select-dropdown
  background-color #4a5661
  border-color #4a5661
  .popper__arrow
    border-bottom-color #4a5661 !important
    &:after
      border-bottom-color #4a5661 !important
  .el-select-dropdown__item
    height 32px !important
    background-color #4a5661 !important
    color #fff !important
    &:hover
      background-color #2e86ce !important
// input 样式
.el-input__inner
  width 300px !important
  background-color #4a5661 !important
  border-color #4a5661 !important
  @media screen and (max-width: 1366px)
    &
      width 240px !important
input
  background-color #4a5661
  color #fff !important
::placeholder
  color #fff !important
// el-form-item里面button的位子
.el-form-item__content
  text-align right
  .el-button
    background-color #297c6b
    border none
    // border-color #2db398
    color #fff
    &:hover
      background-color #08977a
// 综合研判分析样式
.analyze
  .el-form-item
    margin-bottom 13px !important
  .el-input__inner
    width 330px !important
    // height 32px
    @media screen and (max-width: 1366px)
      &
        width 270px !important